// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";

html,
body {
  /* for sticky footer */
  height: 100%;
  font-size: 14px;
  color: #525252;
  // font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-family: NotoSansHans-Regular, AvenirNext-Regular, arial, Hiragino Sans GB, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  background: #f0f2f5;
}

.navbar-default {
  min-height: 45px;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

// ipad below
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .topnav {
    ul.github-login {
      margin-right: -15px !important;
      .btn {
        margin-bottom: 5px;
      }
    }
  }
}

.topnav {
  .github-login {

  }
}

.topnav .github-login .btn.login-btn {
  margin-top: 7px;
}

.topnav .github-login .btn.weichat-login-btn {
  margin-right: 5px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00c4bc;
  border-color: #00c4bc;
}

.panel {
  .panel-heading {
    color: #333;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-bottom: none;
    h3 {
      color: #999;
      font-size: 14px;
    }
  }
  .panel-body {
    border: 1px solid #ddd;
  }
  .panel-footer {
    border-top: none;
    background-color: #fcfcfc;
  }
}

.panel {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #dde2e8;
}

.panel {
  .panel-heading, .panel-body {
    border: none;
  }
}

.panel .panel-heading {
  border-bottom: 1px solid #eeeeee;
  background-color: #fff;
}

@media (min-width: 768px) {
  .main-container {
    padding-bottom: 228px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    height: 206px;
  }

  #wrap {
    min-height: 100%;
    position: relative;
  }
}

.avatar-topnav {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 50%;
}

.text-md {
  font-size: 1.2em;
}

.home-nav {
  padding: 10px;
}

.home-nav-container {
  text-align: center;
  height: 54px;
  padding-top: 20px;
}

.home-content-time {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
  font-size: 14px;
  text-align: right;
}

.home-content-title {
  font-size: 16px;
}

.home-content-item {
  margin-top: 16px;
  display: inline-block;
  width: 100%;
}
