@media only screen and (min-width: 1024px) {
  .home-content-item-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .home-content-time {
    display: inline-block;
    float: right;
    margin-top: 6px;
  }

  .home-content-item {
    margin-top: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-user-menu.nav-mobile-menu {
    display: none !important;
  }
}
