@media only screen and (min-device-width: 120px) and (max-device-width: 480px) {
  .home-content-item-container {
    padding-left: 0px;
  }

  .home-content-time {
    display: block;
  }

  .home-content-item {
    margin-bottom: 10px;
  }

  .login-container {
    display: inline-block;
    float: right;
  }

  .login-ul {
    margin: 0;
  }

  .mobile-navbar-header {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .nav-user-menu-desktop {
    display: none !important;
  }
}
