.home-nav {
  padding: 10px;
  font-size: 17px;
  &:hover {
    text-decoration: none;
  }
}

.home-nav-container {
  text-align: center;
  height: 54px;
  padding-top: 20px;
}

.nav-menu-icon {
  margin-right: 6px;
}

.home-content-title {
  font-size: 18px;
}

.home-content-time {
  color: #999;
  font-size: 14px;
}

.home-content-title:hover {
  text-decoration: none;
}

.home-content-item {
  display: inline-block;
  width: 100%;
}

.login-btn {
  margin-top: 8px;
  border-radius: 2px;
}

.logo {
  text-decoration: none !important;
  font-size: 26px;
  margin-top: 12px;
  display: inline-block;
}

html, body {
  background: transparent;
}

body::before {
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  background: url('/assets/img/andy.jpeg');
  background-size: cover;
}

.topic .panel-footer {
  padding-top: 0px;
}

.signature {
  margin-top: 30px;
}
